<ion-content>
  <div>Lobby : {{roomCode}}</div>
  <button (click)="deleteRoom()" *ngIf="this.owner">Delete room</button>
  <button (click)="exitRoom()" *ngIf="!this.owner">Exit room</button>

  <div class="game-page-container">
    <div class="game-container">
      <div class="question-container">
        <div *ngIf="showQuestion" class="question">
          <div class="question-text">{{currentQuestion}}</div>
          <div *ngIf="currentExtra != null && currentExtra.extraType == enumExtraType.img" class="question-asset">
            <img [src]="currentExtra.url" />
          </div>
        </div>
      </div>
      <div *ngIf="showQuestion" class="answer-container">
        <div class="multiple-choice" *ngIf="roundIsMultipleChoice">
          <div class="choice" *ngFor="let choice of currentChoices">{{choice.choice}}</div>
        </div>
        <div class="type-answer" *ngIf="!roundIsMultipleChoice">
          <input class="type-input" type="text" #inputChoice />
          <div (click)="playerSendInputChoice(inputChoice.value)" class="type-submit">Validate</div>
        </div>
      </div>
      <button (click)="sendNextQuestion()" *ngIf="this.owner" class="next-question">Send next question</button>
    </div>
      <div class="score-container">
        <div class="players">
          <div class="player" *ngFor="let playerScore of listPlayerScore">
            <div class="player-frame">
              <div class="player-avatar">
                <img src="../assets/Images/avatars/dinosaur.png" alt="avatar">
              </div>
            </div>
            <div class="player-infos">
              <div class="player-name">{{playerScore.username}}</div>
              <div class="player-score">{{playerScore.score}}</div>
            </div>
          </div>
  
          <div class="player" *ngFor="let playerScore of listPlayerScore">
            <div class="player-frame">
              <div class="player-avatar">
                <img src="../assets/Images/avatars/dinosaur.png" alt="avatar">
              </div>
            </div>
            <div class="player-infos">
              <div class="player-name">{{playerScore.username}}</div>
              <div class="player-score">{{playerScore.score}}</div>
            </div>
          </div>
  
          <div class="player" *ngFor="let playerScore of listPlayerScore">
            <div class="player-frame">
              <div class="player-avatar">
                <img src="../assets/Images/avatars/dinosaur.png" alt="avatar">
              </div>
            </div>
            <div class="player-infos">
              <div class="player-name">{{playerScore.username}}</div>
              <div class="player-score">{{playerScore.score}}</div>
            </div>
          </div>
  
          <div class="player" *ngFor="let playerScore of listPlayerScore">
            <div class="player-frame">
              <div class="player-avatar">
                <img src="../assets/Images/avatars/dinosaur.png" alt="avatar">
              </div>
            </div>
            <div class="player-infos">
              <div class="player-name">{{playerScore.username}}</div>
              <div class="player-score">{{playerScore.score}}</div>
            </div>
          </div>
  
          <div class="player" *ngFor="let playerScore of listPlayerScore">
            <div class="player-frame">
              <div class="player-avatar">
                <img src="../assets/Images/avatars/dinosaur.png" alt="avatar">
              </div>
            </div>
            <div class="player-infos">
              <div class="player-name">{{playerScore.username}}</div>
              <div class="player-score">{{playerScore.score}}</div>
            </div>
          </div>
  
          <div class="player" *ngFor="let playerScore of listPlayerScore">
            <div class="player-frame">
              <div class="player-avatar">
                <img src="../assets/Images/avatars/dinosaur.png" alt="avatar">
              </div>
            </div>
            <div class="player-infos">
              <div class="player-name">{{playerScore.username}}</div>
              <div class="player-score">{{playerScore.score}}</div>
            </div>
          </div>
  
          <div class="player" *ngFor="let playerScore of listPlayerScore">
            <div class="player-frame">
              <div class="player-avatar">
                <img src="../assets/Images/avatars/dinosaur.png" alt="avatar">
              </div>
            </div>
            <div class="player-infos">
              <div class="player-name">{{playerScore.username}}</div>
              <div class="player-score">{{playerScore.score}}</div>
            </div>
          </div>
        </div>
      </div>    
  </div>
  
</ion-content>
