<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>Lobby : {{roomCode}}</div>
  <button (click)="sendNextQuestion()" *ngIf="this.owner">Send next question</button>
  <button (click)="deleteRoom()" *ngIf="this.owner">Delete room</button>
  <button (click)="exitRoom()" *ngIf="!this.owner">Exit room</button>

  <div *ngIf="showQuestion">
    <ion-card>
      <ion-card-content>
        {{currentQuestion}}
      </ion-card-content>
    </ion-card>
    <ng-container *ngIf="roundIsMultipleChoice">
      <div *ngFor="let choice of currentChoices">
        <button (click)="playerSendChoice(choice.choiceId)" >{{choice.choice}}</button>
      </div>
    </ng-container>
    <ng-container *ngIf="!roundIsMultipleChoice">
      <input type="text" #inputChoice />
      <button (click)="playerSendInputChoice(inputChoice.value)" >OK</button>
    </ng-container>

    <ng-container *ngIf="currentExtra != null && currentExtra.extraType == enumExtraType.img">
      <div class="preview img-preview">
          <img [src]="currentExtra.url" alt="" />
      </div>
    </ng-container>
  </div>

  <div *ngIf="!showQuestion">
    <ion-card *ngFor="let playerScore of listPlayerScore">
      <ion-card-content>
        {{playerScore.username}} : {{playerScore.score}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
