.accordion {
    background-color: white;
    position: relative;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.2s ease;
    margin-top: 15px;
    border-left: 5px solid var(--custom-color-secondary);
    //box-shadow: 3px 0px 25px -3px rgba(0,0,0,0.31);
    background: #ededed;
    font-weight: bold;
    text-transform: uppercase;

    &.active{

        ion-icon{
            transform: rotate(180deg);
        }
    }

    ion-icon{
        position: absolute;
        top: 18px;
        right: 20px;
        font-size: 20px;
        transform-origin: 50% 50%;
        transition: 0.2s ease;
        pointer-events: none;
    }
}
    
.panel {
padding: 20px 40px;
display: none;
background-color: white;
box-shadow: 3px 0px 25px -3px rgba(0,0,0,0.31);

    .toggle{
        width: auto;
        margin: 20px 0;
        box-shadow: var(--custom-shadow-primary);
        border: 2px solid var(--custom-color-secondary);
        display: inline-block;
        transition: 0.2s ease;
        box-sizing: border-box;

        .toggle-choice{
            box-sizing: border-box;
            display: inline-block;
            padding: 10px;
            cursor: pointer;
            transition: 0.4s ease;

            &:hover{
                background: #ededed;
                color: var(--custom-color-secondary);
            }

            &.selected{
                background: var(--custom-color-secondary);
                color: white;
            }

        }
    }

    .answer-edit{
        padding: 10px;
    }
    
    .extra-edit{
        padding: 10px;
    }

    .questions-actions{
        margin-top: 10px;
        ion-button{
            right: 0;
        }
    }
}