<ion-app>
      <ion-header>
        <ion-toolbar>
          <ion-title>ZZUB</ion-title>

          <ion-list class="main-menu" slot="end">
            <div menuClose ion-item *ngFor="let p of appPages">
              <div class="menu-link" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <span>
                  {{p.title}}
                </span>
              </div>
            </div>
          </ion-list>            
        </ion-toolbar>
      </ion-header>
      <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-content>
</ion-app>
