<ion-app>
      <ion-header>
        <ion-toolbar>
          <ion-icon (click)="toggleMobileMenu()" class="main-menu--mobile--toggle" slot="start" name="reorder-three-outline"></ion-icon>
          <ion-title slot="start">ZZUB</ion-title>

          <ion-list class="main-menu--desktop" slot="end">
            <div *ngFor="let p of appPages">
              <div class="menu-link" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <span>
                  {{p.title}}
                </span>
              </div>
            </div>
          </ion-list>    
        </ion-toolbar>

        
      </ion-header>
      <ion-content>
        <ion-list (click)="toggleMobileMenu()" class="main-menu--mobile closed">
          <div *ngFor="let p of appPages">
            <div class="menu-link" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <span>
                {{p.title}}
              </span>
              <ion-icon class="arrow-right" name="chevron-forward"></ion-icon>
            </div>
          </div>
        </ion-list>    
    <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-content>
</ion-app>
