<ion-app>
      <ion-header>
        <ion-toolbar>
          <ion-icon (click)="toggleMobileMenu()" class="main-menu--mobile--toggle" slot="start" name="reorder-three-outline"></ion-icon>
          <ion-title slot="start">ZZUB</ion-title>

          <ion-list class="main-menu--desktop" slot="end">
            <div class="menu-link" [routerDirection]="'root'"
                 [routerLink]="'lobby/'+this.gameService.codeGame"
                  *ngIf="this.authService.isConnected() && this.gameService.hasGame">
              <ion-icon slot="start" name="football"></ion-icon>
              <span>
                Current Game
              </span>
            </div>
            
            <div *ngFor="let p of appPages">
              <div class="menu-link" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" name="p.icon"></ion-icon>
                <span>
                  {{p.title}}
                </span>
              </div>
            </div>
            <div class="menu-link" [routerDirection]="'root'"
                  [routerLink]="'login'"
                  *ngIf="!this.authService.isConnected()">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <span>
                Login
              </span>
            </div>
            <div class="menu-link" [routerDirection]="'root'"
                 [routerLink]="'sign'"
                  *ngIf="!this.authService.isConnected()">
              <ion-icon slot="start" name="pencil"></ion-icon>
              <span>
                Sign-up
              </span>
            </div>
            <div class="menu-link" [routerDirection]="'root'"
            [routerLink]="" (click)="logout()"
            *ngIf="this.authService.isConnected()">
              <ion-icon slot="start" name="exit-outline"></ion-icon>
              <span>
                Logout
              </span>
            </div>
          </ion-list>    
        </ion-toolbar>

        
      </ion-header>
      <ion-content>
        <div class="background closed" (click)="toggleMobileMenu()"></div>   
        <ion-list (swipeleft)="toggleMobileMenu()" (click)="toggleMobileMenu()" class="main-menu--mobile closed">
            <div class="menu-link" [routerDirection]="'root'"
                [routerLink]="'lobby/'+this.gameService.codeGame"
                *ngIf="this.authService.isConnected() && this.gameService.hasGame">
                <ion-icon slot="start" name="football"></ion-icon>
                <span>
                  Current Game
                </span>
                <ion-icon class="arrow-right" name="chevron-forward"></ion-icon>
            </div>

            <div *ngFor="let p of appPages">
              <div class="menu-link" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" name="p.icon"></ion-icon>
                <span>
                  {{p.title}}
                </span>
                <ion-icon class="arrow-right" name="chevron-forward"></ion-icon>
              </div>
            </div>
            <div *ngIf="!this.authService.isConnected()">
              <div class="menu-link" [routerDirection]="'root'"
                  [routerLink]="'login'">
                <ion-icon slot="start" name="log-in"></ion-icon>
                <span>
                  Login
                </span>
                <ion-icon class="arrow-right" name="chevron-forward"></ion-icon>
              </div>
              <div class="menu-link" [routerDirection]="'root'"
                  [routerLink]="'sign'">
                <ion-icon slot="start" name="pencil"></ion-icon>
                <span>
                  Sign up
                </span>
                <ion-icon class="arrow-right" name="chevron-forward"></ion-icon>
              </div>
            </div>
            <div class="menu-link" [routerDirection]="'root'"
                [routerLink]="" (click)="logout()"
                *ngIf="this.authService.isConnected()">
              <ion-icon slot="start" name="exit-outline"></ion-icon>
              <span>
                Logout
              </span>
              <ion-icon class="arrow-right" name="chevron-forward"></ion-icon>
            </div>
        </ion-list>    
    <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-content>
</ion-app>
