.game-infos{
    margin: 20px 5px;
    box-shadow: var(--custom-shadow-primary);
    background-color: white;

    .game-pack-list{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        max-height: 125px;
        overflow: auto;

        @media screen and (max-width: 720px) {
            justify-content: center;
        
        }

        .game-pack{
            padding: 10px 30px 10px 15px;
            border: 1px solid black;
            margin: 5px;
            position: relative;
            text-align: left;
            text-transform: uppercase;

            .delete-pack{
                //background-color: var(--ion-color-danger);
                height: 100%;
                width: 30px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                //transform: translateY(25%);
                cursor: pointer;
        
                &:hover{
                    ion-icon{
                        transform: rotate(180deg);
                    }
                }
        
                ion-icon{
                    margin: auto;
                    font-size: 20px;
                    transition: 0.2s ease-out;
                }
        
                
            }
        }
    }

    .host-container{
        display: flex;

        .host-button{
            width: 80%;
            margin: auto;
            background-color: var(--custom-color-secondary);
            color: white;
            text-align: center;
            border-radius: 5px;
            height: 50px;
            display: flex;
            min-height: 50px;
    
            span{
                margin: auto;
            }
        }
    }

    @media screen and (max-width: 720px) {
        .host-container{
            order: -1;

            .host-button{
                width: 100%;
            }
        }
    
    }
}

.filters-button,.create-button{
    display: flex;
    height: 100%;
    width: 100%;
    border: 2px solid var(--custom-color-secondary);
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    transition: 0.4s ease-out;
    justify-content: center;

    &:hover{
        color: var(--custom-color-secondary);
    }

    span{
        padding: 10px;
        margin: auto 0;
    }

    ion-icon{
        margin: auto 0;
    }

}

ion-searchbar{
    padding: 0;
    box-shadow: none;
}

ion-content{
    --background: #F6F7FB;
}

.filters-mega-container{
    box-shadow: var(--custom-shadow-primary);
    margin: 5px;

    .apply{
        display: none;
    }

    @media screen and (max-width: 720px) {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10000;
        background: white;
        margin: 0;

        .apply{
            display: block;
            padding: 10px;
            text-align: center;
            color: white;
            background-color: black;
            border: none;
            width: 90%;
            margin: 0 5%;
        }
    }

    .filter-title{
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
        display: none;
    }

    ion-col{
        background: white;
    }

    .filters-container{
        
        .button-filter{
            margin: 10px;
            text-align: center;
            border: 2px solid var(--custom-color-secondary);
            cursor: pointer;
            border-radius: 5px;
            background-color: white;
            padding: 10px;
            transition: 0.4s ease-out;

            &:hover{
                color: var(--custom-color-secondary);
            }

            ion-icon{
                margin-right: 10px;
            }
        }

        ion-item{
            margin: 10px;
        }
    
        .filter{
            font-size: 12px;
            width: 50%;
            padding: 10px;
            //margin: auto;
            display: flex;
    
            *{
                margin: auto 0;
            }
    
            @media screen and (min-width: 720px){
                width: 20%;
            }
    
            ion-label{
                padding-left: 10px;
            }
    
            &.sort{
                width: 50%;
            }
        }
    }
}

.pack-list{
    height: 60vh;
    overflow: auto;

    .pack{
        padding: 20px 20px 10px 20px;
        margin: 5px;
        box-shadow: var(--custom-shadow-primary);
        background: white;
        border-radius: 5px;
    
        .pack-name{
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
        }
    
        .pack-nbquestions{
            text-align: center;
        }
    
        .pack-creator{
            text-align: center;
        }
    
        .pack-bottombar{
            margin-top: 20px;
            display:flex;
            
            >div{
                margin: auto;
                display:flex;
                padding: 5px 10px;
    
                ion-icon{
                    margin:auto;
                    font-size: 16px;
                }
    
                span{
                    margin-left: 5px;
                }
            }
    
            .tag{
                //box-shadow: var(--custom-shadow-primary);
                border: 1px solid orangered;
                color: orangered;
                padding: 5px 10px;
                border-radius: 5px;
            }
    
            .edit-pack{
                border: 2px solid var(--custom-color-secondary);
                border-radius: 5px;
                background-color: white;
                cursor: pointer;
                transition: 0.4s ease-out;

                &:hover{
                    color: var(--custom-color-secondary);
                }
            }

            .add-pack{
                border: 2px solid var(--custom-color-secondary);
                border-radius: 5px;
                background-color: white;
                cursor: pointer;
                transition: 0.4s ease-out;

                &:hover{
                    color: var(--custom-color-secondary);
                }
            }
        }
    
        .delete-pack{
            //background-color: var(--ion-color-danger);
            height: 30px;
            width: 30px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            transform: translate(-25%, 25%);
            cursor: pointer;
    
            &:hover{
                ion-icon{
                    transform: rotate(180deg);
                }
            }
    
            ion-icon{
                margin: auto;
                font-size: 20px;
                transition: 0.2s ease-out;
            }
    
            
        }
    }
}
