<ion-content>
  <p *ngIf="!packs || packs.length==0">No pack yet</p>
  <div class="page" *ngIf="packs">
    <ion-card *ngFor="let pack of packs">
      <ion-card-content>
        {{pack.name}} - {{pack.rounds.length}} questions -
        <ion-button 
          color="primary"
          (click)="edit(pack.packId)">Edit</ion-button>
        <ion-button 
          color="danger"
          (click)="alertConfirmDelete(pack.packId)">Delete</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-button 
        color="primary"
        (click)="create()">Create</ion-button>
  </div>
</ion-content>
