<ion-content>
  <div class="page" *ngIf="packs">
    <ion-grid>
        <div *ngIf="!editMode" class="game-infos">
          <ion-row>
            <ion-col size-xs="12" size-md="10">
              <div class="game-pack-list" *ngIf="listPacksHost && listPacksHost.length!=0">
                <div class="game-pack" *ngFor="let pack of listPacksHost">
                  <div class="delete-pack" (click)="removeToListPacksHost(pack.packId)">
                    <ion-icon slot="center" name="close"></ion-icon>
                  </div>
                  {{pack.name}}
                </div>
              </div>
            </ion-col>
            <ion-col class="host-container"size-xs="12" size-md="2">
              <div class="host-button"><span>Host game</span></div>
            </ion-col>
          </ion-row>
        </div>
      <div class="search-container">
        <ion-row>
          <ion-col size-xs="12" size-md="4">
            <div *ngIf="editMode" class="create-button" (click)="create()"><span>Create a new pack</span><ion-icon name="add"></ion-icon></div>
          </ion-col>
          <ion-col size-xs="12" offset-md="3" size-md="1">
            <div class="filters-button" (click)="toggleFilters()"><span>Filters</span></div>
          </ion-col>
          <ion-col size-xs="12" size-md="4">
            <ion-searchbar type="text" debounce="500" (ionInput)="filterName($event)"></ion-searchbar>
          </ion-col>
        </ion-row>
        <div class="filters-mega-container">
        <ion-row>
          <ion-col class="filters-container" size-xs="12" size-md="4">
          <h2 class="filter-title">Themes</h2>
            <ion-item>
              <ion-label>Themes</ion-label>
              <ion-select multiple [(ngModel)]="tagFilter" (ngModelChange)="filter()"okText="Okay" cancelText="Cancel">
                <ion-select-option *ngFor="let tag of tags" value="{{tag.name}}">{{tag.name}}</ion-select-option>
              </ion-select>
              <!--
              <ion-select multiple value="" okText="Okay" cancelText="Cancel">
                <ion-select-option value="Sport">Sport</ion-select-option>
                <ion-select-option value="Cinema">Cinema</ion-select-option>
                <ion-select-option value="History">History</ion-select-option>
                <ion-select-option value="Geography">Geography</ion-select-option>
                <ion-select-option value="Sciences">Sciences</ion-select-option>
                <ion-select-option value="Video Games">Video Games</ion-select-option>
                <ion-select-option value="Literature">Literature</ion-select-option>
                <ion-select-option value="Misc">Misc</ion-select-option>
              </ion-select>-->
            </ion-item>
          </ion-col>
          <ion-col class="filters-container" size-xs="12" size-md="4">
            <h2 class="filter-title">Sort by</h2>
            <ion-item>
              <ion-label>Sort by</ion-label>
              <ion-select value="" okText="Okay" cancelText="Cancel">
                <ion-select-option value="Most played">Most played</ion-select-option>
                <ion-select-option value="Most liked">Most liked</ion-select-option>
                <ion-select-option value="Most recent">Most recent</ion-select-option>
                <ion-select-option value="A-Z">A-Z</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="filters-container" size-xs="12" size-md="4">
            <h2 class="filter-title">Favorites/My packs</h2>
              <ion-row>
                <ion-col> 
                  <div class="button-filter" (click)="filterFavorite()">
                    <ion-icon name="star" *ngIf="favoriteFilter"></ion-icon>
                    <ion-icon name="star-outline" *ngIf="!favoriteFilter"></ion-icon>
                    Favorites</div>
                </ion-col>
                <ion-col *ngIf="!editMode">
                  <div class="button-filter"(click)="filterOwnPacks()" >
                    <ion-icon *ngIf="!ownPackFilter" name="person-outline"></ion-icon>
                    <ion-icon *ngIf="ownPackFilter" name="person"></ion-icon>My packs</div>
                </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="filters-button apply" (click)="toggleFilters()"><span>Apply filters</span></div>
          </ion-col>
        </ion-row>
      </div>
      </div>
      <div class="pack-list" data-simplebar>
        <div class="pack" *ngFor="let pack of packs">
          <!--<div *ngIf="editMode" class="delete-pack" (click)="alertConfirmDelete(pack.packId)">
            <ion-icon slot="center" name="close"></ion-icon>
          </div>-->
          <div class="pack-topbar">
            <div class="tag">{{pack.tag.name}}</div>
            <div class="flag-lang"><img src="..\assets\Images\flags\002-france.svg" alt=""></div>
          </div>
          <div class="pack-img">
            <img src="" alt="">
          </div>

          
          <div class="pack-bottombar">
            <div class="infos-container">
              <div class="pack-name">
                {{pack.name}}
              </div>
              <div class="pack-subinfos">
                <div class="pack-nbquestions">
                  {{pack.rounds.length}} questions
                </div>
                <div class="pack-author">
                  By {{pack.author.username}}
                </div>
              </div>
            </div>
            <div class="actions-container">
              <div class="play"><ion-icon name="play-outline"></ion-icon></div>
              <div class="play-count">1.3k</div>
              <div class="likes"><ion-icon name="heart"></ion-icon></div>
              <div class="likes-count">1.7k</div>
              <div class="fav" (click)="favPack(pack.packId)"><ion-icon name="star" class="selected" *ngIf="listFavorites && listFavorites.includes(pack.packId)" ></ion-icon>
                                                              <ion-icon name="star" *ngIf="listFavorites && !listFavorites.includes(pack.packId)" ></ion-icon></div>
              <div *ngIf="editMode" class="edit-pack" (click)="edit(pack.packId)"><ion-icon name="create-outline"></ion-icon></div>
              <div *ngIf="!editMode" class="add-pack" (click)="addToListPacksHost(pack.packId)"><ion-icon name="add-circle-outline"></ion-icon></div>
            </div>
          </div>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>
