ion-content{
    --background: white;
    position: relative;
}

.big-container{
    display: flex;
    justify-content: center;

    .pre-lobby{
        position: relative;
        height: 100%;

        @media screen and (min-width: 768px) {
            width: 38%;
            max-width: 280px;
        }

        .game-infos{
            position: fixed;
            background-color: white;
            z-index: 1000;
            left: 0;
            right: 0;
            bottom: 0;
            top: calc(100% - 115px);
            transition: top 0.4s ease;

            &.showMobile{
                top: 0;
            }
        
            @media screen and (min-width: 768px) {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
            }
        
            .game-pack-list{
                //background-color: #ededed;
                display: flex;
                flex-wrap: wrap;
                padding: 10px;
                overflow: auto;
                justify-content: center;
        
                @media screen and (min-width: 768px) {
                    justify-content: flex-start;
                }
        
                .game-pack{
                    padding: 10px 30px 10px 15px;
                    box-shadow: var(--material-shadow-2);
                    background-color: white;
                    border-radius: 5px;
                    width: 100%;
                    margin: 5px;
                    position: relative;
                    text-align: left;
                    text-transform: uppercase;
                    font-weight: bold;
        
                    .delete-pack{
                        //background-color: var(--ion-color-danger);
                        height: 100%;
                        width: 30px;
                        border-radius: 50%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: flex;
                        //transform: translateY(25%);
                        cursor: pointer;
                
                        &:hover{
                            ion-icon{
                                transform: rotate(180deg);
                            }
                        }
                
                        ion-icon{
                            margin: auto;
                            font-size: 20px;
                            transition: 0.2s ease-out;
                        }
                
                        
                    }
                }
            }
        
            .host-container{
                display: flex;
                flex-direction: column;
                padding: 10px;
        
                .host-button{
                    margin: auto;
                    background-color: var(--ion-color-danger);
                    color: white;
                    text-align: center;
                    display: flex;
                    padding: 15px 25px;
                    cursor: pointer;
                    width: 100%;
                    
            
                    span{
                        margin: auto;
                    }
                }

                .list-mobile-button{
                    margin: auto;
                    margin-top: 7.5px;
                    color: var(--ion-color-danger);
                    text-align: center;
                    display: flex;
                    padding: 7.5px 25px 5.5px;
                    cursor: pointer;
                    text-decoration: underline;
                    font-weight: bold;

                    @media screen and (min-width: 768px) {
                        display: none;
                    }

                    span{
                        margin: auto;
                        display: flex;

                        ion-icon{
                            font-size: 17px;
                            margin: auto;
                            margin-left: 5px;
                        }
                    }
                }
            }
        
            @media screen and (max-width: 720px) {
                .host-container{
                    order: -1;
        
                    .host-button{
                        width: 100%;
                    }
                }
            
            }
        }
        
    }    

    .list-page{
        order: -1;
        background-color: white;
        width: 100%;
        box-shadow: var(--material-shadow-2);
        min-height: 100%;
        left: 0;
        transform: translateX(0);

        @media screen and (min-width: 768px) {
            max-width: calc(100% - 280px);
            width: 100%;
        
        }
    
        /*@media screen and (min-width: 768px){
            padding: 20px;
            transform: translateX(-50%);
            left: 50%;
        }*/
    }
    
    .filters-button,.create-button{
        display: flex;
        height: 100%;
        width: 100%;
        //border: 2px solid var(--custom-color-secondary);
        cursor: pointer;
        //border-radius: 5px;
        background-color: var(--custom-color-secondary-light);
        transition: 0.4s ease-out;
        justify-content: center;
        color: white;
        box-shadow: var(--custom-shadow-primary);
    
        &:hover{
            background-color: var(--custom-color-secondary);
        }
    
        span{
            padding: 10px;
            margin: auto 0;
        }
    
        ion-icon{
            margin: auto 0;
        }
    
    }
    
    ion-searchbar{
        padding: 0;
        box-shadow: none;
    }
    
    ion-content{
        --background: #F6F7FB;
    }
    
    .filters-mega-container{
        box-shadow: var(--custom-shadow-primary);
        margin: 5px;
    
        .apply{
            display: none;
        }
    
        @media screen and (max-width: 720px) {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 10000;
            background: white;
            margin: 0;
    
            .apply{
                display: block;
                padding: 10px;
                text-align: center;
                color: white;
                background-color: black;
                border: none;
                width: 90%;
                margin: 0 5%;
            }
        }
    
        .filter-title{
            text-align: center;
            margin-bottom: 10px;
            font-size: 20px;
            display: none;
        }
    
        ion-col{
            background: white;
        }
    
        .filters-container{
            
            .button-filter{
                margin: 10px;
                text-align: center;
                border: 2px solid var(--custom-color-secondary);
                cursor: pointer;
                //border-radius: 5px;
                background-color: white;
                padding: 10px;
                transition: 0.4s ease-out;
    
                &:hover{
                    color: var(--custom-color-secondary);
                }
    
                ion-icon{
                    margin-right: 10px;
                }
            }
    
            ion-item{
                margin: 10px;
            }
        
            .filter{
                font-size: 12px;
                width: 50%;
                padding: 10px;
                //margin: auto;
                display: flex;
        
                *{
                    margin: auto 0;
                }
        
                @media screen and (min-width: 720px){
                    width: 20%;
                }
        
                ion-label{
                    padding-left: 10px;
                }
        
                &.sort{
                    width: 50%;
                }
            }
        }
    }
    
    .pack-list{
        bottom: 0;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
    
        .pack{
            //padding: 20px 20px 10px 20px;
            margin: 5px;
            box-shadow: var(--custom-shadow-primary);
            background: white;
            //border-radius: 5px;
            position: relative;
            max-width: 370px;
            width: 100%;
            margin: 10px auto;
    
            .pack-topbar{
                position: absolute;
                display: flex;
                top: 0;
                height: 30px;
                background-color: rgba(12, 12, 12, 0.5);
                width: 100%;
                justify-content: space-between;
                align-items: center;
    
                .tag{
                    color: white;
                    font-size: bold;
                    padding: 0 10px;
                    text-transform: uppercase;
                }
                
                .flag-lang{
                    display: flex;
                    width: 40px;
    
                    img{
                        margin: auto;
                        height: 25px;
                        width: auto;
                    }
                }
            }
    
            .pack-name-container{
                width: 100%;
                height: 180px;
                background: var(--custom-color-gradient);
                display: flex;
                overflow: hidden;
    
                /*&.pack-Cinema{
                    background: var(--custom-gradient-pink);
                }
    
                &.pack-Music{
                    background: var(--custom-gradient-orange);
                }
    
                &.pack-History{
                    background: var(--custom-gradient-red);
                }*/
    
                .pack-name{
                    margin: auto;
                    padding-top: 20px;
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    font-family: "nunito", sans-serif;
                    font-size: 20px;
                }
            }
        
           
        
            .pack-bottombar{
                //margin-top: 20px;
                display:flex;
                padding: 10px;
    
                .infos-container{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    width: 40%;
    
                    .pack-author{
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 18px;
                    }
    
                    .pack-subinfos{
                        font-size: 12px;
                        display: flex;
                        flex-direction: row;
                        color: var(--custom-color-gray);
                    }                
                }
                
                .actions-container{
                    flex-direction: row;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 60%;
    
                    *{
                        text-align: center;
                        margin: 0 auto;
                    }
    
                    ion-icon{
                        font-size: 26px;
                    }
    
                    .play{
                        position: relative;
                        display: flex;
                    }
    
                    .play-count{
                        font-size: 10px;
                        margin-left: -4px;
                    }
    
                    .likes{
                        position: relative;
                        display: flex;
    
                        ion-icon{
                            cursor: pointer;
                            stroke-width: 30px;
                            stroke: black;
                            fill: white;
                            transition: all 0.2s ease;
    
                            &:hover{
                                fill: #EB445A;
                            }
    
                            &.selected{
                                fill: #EB445A;
                            }
                        }
                    }
    
                    .likes-count{
                        font-size: 10px;
                        margin-left: -2px;
                    }
    
                    .fav{
    
                        ion-icon{
                            cursor: pointer;
                            stroke-width: 30px;
                            stroke: black;
                            fill: white;
                            transition: all 0.2s ease;
    
                            &:hover{
                                fill: #ffd534;
                            }
    
                            &.selected{
                                fill: #ffd534;
                            }
                        }
                    }
    
                    .edit-pack{
                        cursor: pointer;
                    }
    
                    .add-pack{
                        cursor: pointer;
                    }
                }
            }
        
            .delete-pack{
                //background-color: var(--ion-color-danger);
                height: 30px;
                width: 30px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                transform: translate(-25%, 25%);
                cursor: pointer;
        
                &:hover{
                    ion-icon{
                        transform: rotate(180deg);
                    }
                }
        
                ion-icon{
                    margin: auto;
                    font-size: 20px;
                    transition: 0.2s ease-out;
                }
        
                
            }
        }
    }
}


