
<div class="page">
    <p>Coucou</p>
    <a [routerDirection]="'root'"
    [routerLink]="'/selectpack'">Host a game</a>
    <br/>
    <form [formGroup]="codeForm" padding-right>
        <ion-item>
            <ion-label position="floating">Room Code</ion-label>
            <ion-input type="text" formControlName="code" required></ion-input>
            <div *ngIf="code.invalid && (code.dirty || code.touched) || code.hasError('minlength') || code.hasError('maxlength')"
                class="alert alert-danger p-2">
            <div *ngIf="code.errors.required">
                Enter a valid code
            </div>
            </div>
        </ion-item>
        <ion-button 
                color="primary" 
                expand="block" 
                [disabled]="!codeForm.valid" 
                (click)="joinLobby()">Join</ion-button>
    </form>
</div>
